



<appC-loading #loading></appC-loading>


<div *ngIf="Country">
    <shared-title></shared-title>
    <mat-card>
      <mat-card-content>

        <div class="Contenido">


          <div class="Information">  
            <img [src]="Country.flags.svg" [alt]="Country.name.common" />
       
            <div class="frame-text">
                <h2> Información </h2>
                <div>
                  <p><span>Región: </span>{{Country.region}}</p>
                  <p><span>Subregión: </span>{{Country.subregion}}</p>
                  <p><span>Capital: </span> {{Country.capital[0] | uppercase}}</p>
                  <p><span>Población: </span>{{Country.population | number }}</p>
                  <p *ngFor="let currency of Country.currencies | keyvalue"><span>Moneda: </span>{{currency.value.symbol}} - {{currency.value.name}}</p>
                </div>
            </div>
           </div>
  
          <div class="translation">
            <mat-chip-set
            class="example-chip"
            cdkDropList
            cdkDropListOrientation="horizontal">
              <mat-chip *ngFor="let translation of translations | keyvalue"  class="example-box" cdkDrag>{{ translation.value.common }}</mat-chip>
          </mat-chip-set>
  
          </div>

        </div>

       
         
    
      </mat-card-content>
    </mat-card>
</div>


