

div {
    height: 100vh;
}

.container{
    width: 100vw;
    display: flex;
    background: transparent;
    .info-company{
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 1 70%;

        div{
            margin: 0 auto;
            display: flex;
            align-items: center;
        }

        img{
            width: 100%;
            max-width: 200px;
        }
        .custom-width {
            width: 50%;
            height: 100vh;
        }
    }
    .login{
        flex: 1 1 30%;
        background:#292929;
    }
}

