

@use '@angular/material' as mat;
@import './assets/scss/colors';
@import './assets/scss/globalStyle';
@include mat.core();





// Incluir los temas en componentes específicos
.light-theme {
  $appCountry-primary-light: mat.define-palette($md-mat-primary,500);
  $appCountry-accent-light: mat.define-palette($md-mat-accent,500);
  $appCountry-warn-light: mat.define-palette($md-mat-warn,500);

  //Tema Light
  $appCountry-theme-light: mat.define-light-theme((
    color: (
      primary: $appCountry-primary-light,
      accent: $appCountry-accent-light,
      warn: $appCountry-warn-light,
    )
  ));
  @include mat.all-component-themes($appCountry-theme-light);
  mat-drawer-content{
    background: map-get($Light,  body-background );
  }
  mat-toolbar{
    background: map-get($Light, Allcards-background );
  }

  mat-card-content{
    @extend .radius-card;
  }
  mat-card {
    @extend .radius-card;
  }
}

.dark-theme {
 
    //palesa de colores darks
    $appCountry-primary-dark: mat.define-palette($md-primary-dark,900);
    $appCountry-accent-dark: mat.define-palette($md-accent-dark,900);
    $appCountry-warn-dark: mat.define-palette($md-warn-dark,900);
    //Temas Dark
    $appCountry-theme-dark: mat.define-dark-theme((
      color: (
        primary: $appCountry-primary-dark,
        accent: $appCountry-accent-dark,
        warn:$appCountry-warn-dark,
      )
    ));

    @include mat.all-component-themes($appCountry-theme-dark);

    mat-drawer-content{
      background: map-get($Dark,  body-background );
    }
    mat-toolbar{
      background: #0D0E12;
    }
    mat-card-content{
      background: #15171C;
      @extend .radius-card
    }

}

.light-theme mat-toolbar,
.dark-theme mat-toolbar {
  display: flex;
  justify-content: space-between; // Esto distribuye los elementos a los lados opuestos
  align-items: center; // Esto centra verticalmente los elementos

  // Estilo para el título
  span:first-child {
    order: -1; // Mueve el título al inicio
    margin-right: auto; // Empuja los iconos a la derecha
  }

  // Estilos para los iconos
  button.mat-icon-button {
    margin-left: 8px; // Espaciado entre los iconos
  }

}

